.item-card{
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    
}
.item-card.high{
    
    border-left: 6px solid #e01717; 
    color: #e01717;
}
.item-card.medium{
    border-left: 6px solid #ffab00; 
    color: #ffab00;
}
.item-card.low{
    border-left: 6px solid #44b400; 
    color: #44b400;
}
.checkbox{
    height: 20px;
    width: 20px;
    display: inline-block;
    border: 1px solid black;
   border-radius: 5px;
    margin-right: 20px;
    cursor: pointer;
}
.select{
    margin-right: 1rem;
    cursor: pointer;
}
.badge{
    margin-left:auto;
    border: 1px solid;
    position: relative;
    border-radius: 20px;
    padding: 4px 10px;
    width: 70px;
    font-size: 12px;
    text-align: center;
    font-weight:700;
    margin-right: 20px;
}
.badge.high{
    background-color: #e0171733;
    color:#e01717;
}
.badge.medium{
    background-color:#ffab0033;
    color:#ffab00
    
}
.badge.low{
    background-color:#44b40033;
    color: #44b400;
}
.card-title.strike{
    text-decoration: line-through;
}
.delete{
    cursor: pointer;
    margin-right: 20px;
    color: #e01717;
}
.edit{
    margin-right: 20px;
    cursor: pointer;
    color: #e01717;
}